APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=
DB_PASSWORD=secret

# libs/db_conn.php
DB_PORT_ALT=3306
DB_SELLER=
VALIDA_REQUISITOS=false
UTILIZA_CAPTCHA=false
VERIFICA_IP_PRIVADO=false

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=

# SOKETI
PUSHER_HOST=localhost
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_ID=app-id
PUSHER_APP_KEY=app-key
PUSHER_APP_SECRET=app-secret

# PNCP
PNCP_URL=
PNCP_USUARIO=
PNCP_SENHA=
PNCP_CLIENTE_ID=

#BNC
BNC_ACCESS_TOKEN=
BNC_URL=

#LICITACON
LICITACON_URL=

ALLOWED_ORIGINS=*

SSP_USER=
SSP_PASS=
SSP_WHITE_LIST=

HABILITA_REDESIM=false
REDESIM_BASE_URL=
REDESIM_ACCESS_KEY_ID=
REDESIM_SECRET_ACCESS_KEY=

REDESIM_PROCESSO_INCLUSAO_INSCRICAO=
REDESIM_PROCESSO_ATUALIZACAO_INSCRICAO=
REDESIM_PROCESSO_BAIXA_INSCRICAO=

REDESIM_MAIL_ADDRESS_ON_ERROR=
HABILITA_EMAIL_ERRO_PROCESSAMENTO_ESTABELECIMENTO_REDESIM=

REDESIM_GERACAO_AUTOMATICA_INSCRICAO_TIPO_ALVARA=

NOVA_GERACAO_ALVARA=

# URL do front
BASE_URL_AUTENTICIDADE="http://nomedoprojeto.uf.gov.br"
URL_AUTENTICIDADE_DOCUMENTO="http://nomedoprojeto.uf.gov.br"

URL_WEBISS=
AUTENTICACAO_WEBISS=

SERVICOS_SUS_URL=http://servicoshm.saude.gov.br/

PFX_URL=
PFX_USER=
PFX_PASS=

URL_ECIDADE_SIGNER=
ECIDADE_SIGNER_SSL_VERIFY=true

API_DATA_AVAILABLE_URL=
API_DATA_AVAILABLE_TOKEN="token"

PROCESSO_ELETRONICO_NAO_ATUALIZA_NOME_CGM=FALSE

CENTRAL_MATRICULAS_URL=
CENTRAL_MATRICULAS_CLIENT_ID=
CENTRAL_MATRICULAS_CLIENT_SECRET=
