parameters:
    autoload_files:
        - libs/db_stdlib.php
        - dbforms/db_funcoes.php
        - dbforms/db_classesgenericas.php
        - bootstrap.php

    fileExtensions:
        - php
        - module
        - inc