.stepper li {
    list-style: none;
    float: left;
    padding: 0 30px;
    position: relative;
    text-align: center;
    color: #b7b7b7;
    z-index: 2;
}
.stepper li i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border: 2px solid #b7b7b7;
    border-radius: 30px;
    display: block;
    text-align: center;
    background-color: #fff;
    margin-bottom: 7px;
}
.stepper li:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b7b7b7;
    top: 21px;
    left: 0;
    z-index: -1;
}
.stepper li:first-child:before {
    width: 50%;
    left: 50%;
}
.stepper li:last-child:before {
    width: 50%;
}
.stepper li.active {
    color: #0f3d64;
}
.stepper li.active i {
    border: 2px solid #0f3d64;
}
.stepper li.active:before {
    background-color: #0f3d64;
}
