.icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}

.show {
    background: url("../imagens/seta.gif") no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}

.close {
    height: 10px;
    background: url("../imagens/setabaixo.gif") no-repeat;
    background-size: cover;
}

#dados {
    width:95%;
    background-color:white;
    overflow-y: scroll;
}

.table_header_children {
    border-bottom:1px outset white;
    border-right:1px outset white;
    font-weight:bold;
    text-align:center;
    padding:1px;
    background-color:#EEEFF2;
    cursor: default;
}

.table_header {
    font-weight:bold;
    text-align:center;
    padding:1px;
    border-bottom:1px outset white;
    border-right:1px outset white;
    background-color:#8a8a8a;
    cursor: default;
}

.table_inicial {
    border-bottom:1px outset white;
    border-right:1px outset white;
    border-top:1px inset white;
    text-align: center;
    background-color: #aeaeaf;
}

.th_coluna_valor {
    width: 7.16%;
}

.th_coluna_receita {
    width: 14%;
}

#container-dividas {
    width: 90%;
    height: 400px !important;
    margin: auto !important;
    margin-top: 50px !important;
    text-align: center;
    border:2px solid #8a8a8a;
}