<?php
/*
 *     E-cidade Software Publico para Gestao Municipal
 *  Copyright (C) 2009  DBSeller Servicos de Informatica
 *                            www.dbseller.com.br
 *                         e-cidade@dbseller.com.br
 *
 *  Este programa e software livre; voce pode redistribui-lo e/ou
 *  modifica-lo sob os termos da Licenca Publica Geral GNU, conforme
 *  publicada pela Free Software Foundation; tanto a versao 2 da
 *  Licenca como (a seu criterio) qualquer versao mais nova.
 *
 *  Este programa e distribuido na expectativa de ser util, mas SEM
 *  QUALQUER GARANTIA; sem mesmo a garantia implicita de
 *  COMERCIALIZACAO ou de ADEQUACAO A QUALQUER PROPOSITO EM
 *  PARTICULAR. Consulte a Licenca Publica Geral GNU para obter mais
 *  detalhes.
 *
 *  Voce deve ter recebido uma copia da Licenca Publica Geral GNU
 *  junto com este programa; se nao, escreva para a Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 *  02111-1307, USA.
 *
 *  Copia da licenca no diretorio licenca/licenca_en.txt
 *                                licenca/licenca_pt.txt
 */
$DB_COR_FUNDO = "#00CCFF";
$DB_FILES     = "/dbportal2/imagens/files";
$DB_DIRPCB    = "/home/sistema";
$DB_EXEC      = "/usr/bin/dbs";
$DB_NETSTAT   = "netstat";

// Variaveis de Configuracao
$DB_USUARIO   = env('DB_USERNAME'); // Usuário do PostgreSQL
$DB_SENHA     = env('DB_PASSWORD'); // Senha do usuário do PostgreSQL
$DB_SERVIDOR  = env('DB_HOST'); // Ip do servidor para a conexão com a base de dados
$DB_PORTA     = env('DB_PORT'); // Porta para conexao com o banco de dados (porta do Pool de Conexoes quando utilizado)
$DB_PORTA_ALT = env('DB_PORT_ALT'); // Porta para conexao direta com PostgreSQL quando tivermos um pool de conexao
$DB_BASE      = env('DB_DATABASE'); // Nome da base de dados
$DB_SELLER    = env('DB_SELLER');
$DB_VALIDA_REQUISITOS = env('VALIDA_REQUISITOS') === 'true'; // Variável para validar configurações de instalação do sistema.
$lUtilizaCaptcha = env('UTILIZA_CAPTCHA') === 'true'; // Variável para habilitar a utilização de captcha
$lVeriricaIpPrivado = env('VERIFICA_IP_PRIVADO') === 'true'; // Variável para habilitar utilização de captcha somente para IPs públicos (externos)
?>
